<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">发布公告信息</h4>
</div>
<div class="modal-body">
	<form>
		<div class="form-group">
		    <label for="noticeAddModal">公告内容:</label>
		    <textarea class="form-control" id="noticeAddModal" ng-model="addNotice.content" ></textarea>
		</div>
	</form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="close()">关闭</button>
    <button type="button" class="btn btn-primary" ng-click="addOne()">发布</button>
</div>